body{
    padding: 130px;
}
.submit-area{
    padding: 40px;
    margin: 40px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
#account-area{
    display:none;
}
.status{
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    color:white;
    margin: 0 20px;
    padding:30px;
}
.deposit{
    background-color: slateblue;
    
}
.withdraw{
    background-color: lightsalmon;
   
}
.balance{
    background-color: orange;
    
}